In [2]:
import pandas as pd

w1 = pd.read_excel('LY Case Study Quantitative_11.11.24.xlsx',sheet_name='W-1')

w = pd.read_excel('LY Case Study Quantitative_11.11.24.xlsx',sheet_name='W')

In [3]:
w1.columns

Index(['Brand', 'Name', 'Category', 'SKU', 'URL', 'France', 'United Kingdom',
       'USA (tax free)', 'Japan', 'Hong Kong', 'China', 'Korea', 'Korea DF',
       'Hainan DF', 'United Arab Emirates', 'Australia', 'Canada', 'Macao',
       'Mexico', 'Saudi Arabia', 'Singapore', 'Thailand', 'Taiwan'],
      dtype='object')

In [4]:
w.columns

Index(['Brand', 'Name', 'Category', 'SKU', 'France', 'United Kingdom',
       'USA (tax free)', 'Japan', 'Hong Kong', 'China', 'Korea', 'Korea DF',
       'Hainan DF', 'United Arab Emirates', 'Australia', 'Canada', 'Macao',
       'Mexico', 'Saudi Arabia', 'Singapore', 'Thailand', 'Taiwan'],
      dtype='object')

In [5]:
df = pd.merge(w1,w, on='SKU' , suffixes=('_w1','_w'))

In [6]:
df.columns

Index(['Brand_w1', 'Name_w1', 'Category_w1', 'SKU', 'URL', 'France_w1',
       'United Kingdom_w1', 'USA (tax free)_w1', 'Japan_w1', 'Hong Kong_w1',
       'China_w1', 'Korea_w1', 'Korea DF_w1', 'Hainan DF_w1',
       'United Arab Emirates_w1', 'Australia_w1', 'Canada_w1', 'Macao_w1',
       'Mexico_w1', 'Saudi Arabia_w1', 'Singapore_w1', 'Thailand_w1',
       'Taiwan_w1', 'Brand_w', 'Name_w', 'Category_w', 'France_w',
       'United Kingdom_w', 'USA (tax free)_w', 'Japan_w', 'Hong Kong_w',
       'China_w', 'Korea_w', 'Korea DF_w', 'Hainan DF_w',
       'United Arab Emirates_w', 'Australia_w', 'Canada_w', 'Macao_w',
       'Mexico_w', 'Saudi Arabia_w', 'Singapore_w', 'Thailand_w', 'Taiwan_w'],
      dtype='object')

In [7]:
df.head()

,Brand_w1,Name_w1,Category_w1,SKU,URL,France_w1,United Kingdom_w1,USA (tax free)_w1,Japan_w1,Hong Kong_w1,...,Hainan DF_w,United Arab Emirates_w,Australia_w,Canada_w,Macao_w,Mexico_w,Saudi Arabia_w,Singapore_w,Thailand_w,Taiwan_w
0,Bottega Veneta,Pouch,NaN,576175VCPP01229,https://www.bottegaveneta.com/en-us/pouch-blac...,3200.0,2870.0,4200.0,506000.0,31900.0,...,28550.0,14350.0,5880.0,5050.0,32900.0,88000.0,14350.0,5850.0,145000.0,125000.0
1,Bottega Veneta,Sardine,NaN,716082VCPP11019,https://www.bottegaveneta.com/en-us/sardine-bl...,3500.0,3140.0,4200.0,544500.0,32900.0,...,27900.0,15400.0,5880.0,5050.0,33900.0,92600.0,15400.0,5850.0,145900.0,131300.0
2,Bottega Veneta,Padded Cassette,NaN,591970VCQR18425,https://www.bottegaveneta.com/en-us/padded-cas...,3600.0,3230.0,4500.0,566500.0,32900.0,...,28550.0,15700.0,5990.0,5410.0,33900.0,94250.0,15700.0,5990.0,149500.0,130000.0
3,Bottega Veneta,Medium Andiamo,NaN,743572VCPP12943,https://www.bottegaveneta.com/en-us/medium-and...,3900.0,3500.0,4900.0,605000.0,37800.0,...,32750.0,17500.0,6960.0,5890.0,38950.0,102650.0,17500.0,6930.0,172900.0,150800.0
4,Bottega Veneta,Chain Cassette,NaN,631421VBWZ08425,https://www.bottegaveneta.com/en-us/chain-cass...,4200.0,3760.0,5500.0,693000.0,41800.0,...,36250.0,18800.0,7700.0,6610.0,43100.0,115200.0,18800.0,7660.0,191100.0,166800.0

In [8]:
df.isnull()

,Brand_w1,Name_w1,Category_w1,SKU,URL,France_w1,United Kingdom_w1,USA (tax free)_w1,Japan_w1,Hong Kong_w1,...,Hainan DF_w,United Arab Emirates_w,Australia_w,Canada_w,Macao_w,Mexico_w,Saudi Arabia_w,Singapore_w,Thailand_w,Taiwan_w
0,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,False,False,True,False,False,False,False,False,False,True,...,True,True,True,False,True,True,True,True,True,True
258,False,False,True,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
259,False,False,True,False,False,False,False,False,True,True,...,True,True,True,False,True,True,True,True,True,True
260,False,False,True,False,False,True,True,False,False,True,...,True,True,True,False,True,True,True,True,True,True
261,False,False,True,False,False,True,True,False,True,True,...,True,True,True,True,True,True,True,False,True,False

In [9]:
df.isnull().sum()

Brand_w1                     0
Name_w1                      0
Category_w1                262
SKU                          0
URL                          0
France_w1                    4
United Kingdom_w1            7
USA (tax free)_w1            0
Japan_w1                    16
Hong Kong_w1                16
China_w1                    28
Korea_w1                    10
Korea DF_w1                155
Hainan DF_w1               190
United Arab Emirates_w1     25
Australia_w1                23
Canada_w1                    7
Macao_w1                   156
Mexico_w1                   67
Saudi Arabia_w1             76
Singapore_w1                23
Thailand_w1                 57
Taiwan_w1                   73
Brand_w                      0
Name_w                       0
Category_w                 262
France_w                     4
United Kingdom_w             7
USA (tax free)_w             0
Japan_w                     16
Hong Kong_w                 18
China_w                     26
Korea_w                     10
Korea DF_w                 155
Hainan DF_w                190
United Arab Emirates_w      25
Australia_w                 62
Canada_w                    46
Macao_w                    156
Mexico_w                    79
Saudi Arabia_w              76
Singapore_w                 49
Thailand_w                  70
Taiwan_w                    85
dtype: int64

In [25]:
duplicates_sku = df['SKU'].duplicated().sum()

In [26]:
print(duplicates_sku)

0

In [30]:
missing_data = df.isnull().sum()

print(missing_data.tail(50))

Brand_w1                     0
Name_w1                      0
Category_w1                262
SKU                          0
URL                          0
France_w1                    4
United Kingdom_w1            7
USA (tax free)_w1            0
Japan_w1                    16
Hong Kong_w1                16
China_w1                    28
Korea_w1                    10
Korea DF_w1                155
Hainan DF_w1               190
United Arab Emirates_w1     25
Australia_w1                23
Canada_w1                    7
Macao_w1                   156
Mexico_w1                   67
Saudi Arabia_w1             76
Singapore_w1                23
Thailand_w1                 57
Taiwan_w1                   73
Brand_w                      0
Name_w                       0
Category_w                 262
France_w                     4
United Kingdom_w             7
USA (tax free)_w             0
Japan_w                     16
Hong Kong_w                 18
China_w                     26
Korea_w                     10
Korea DF_w                 155
Hainan DF_w                190
United Arab Emirates_w      25
Australia_w                 62
Canada_w                    46
Macao_w                    156
Mexico_w                    79
Saudi Arabia_w              76
Singapore_w                 49
Thailand_w                  70
Taiwan_w                    85
dtype: int64